<a href="https://colab.research.google.com/github/camila-cg/analise-dados-educacionais/blob/main/Teste_an%C3%A1lise_base_educacional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bibliotecas utilizadas

In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

Fixando semente para reprodutibilidade dos resultados

In [3]:
np.random.seed(42)

Leitura dos dados

In [4]:
dataset_mat = pd.read_csv("https://raw.githubusercontent.com/camila-cg/analise-dados-educacionais/main/student-mat.csv", sep = ';')
dataset_port = pd.read_csv("https://raw.githubusercontent.com/camila-cg/analise-dados-educacionais/main/student-por.csv", sep = ';')

dataset_mat.head(2)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2 G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6  6
1     GP   F   17       U     GT3       T  ...     1       3        4  5  5  6

[2 rows x 33 columns]

## Pr√©-Processamento

Verificando a presen√ßa de dados faltantes na base de dados

In [10]:
print(dataset_mat.info())
print(dataset_port.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
 33  aprovado    395 non-null    object
dtypes: int64(16), object(18)
memory usage: 105.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB
None

Verificamos que as bases a serem utilizadas n√£o possuem valores faltantes.

### Transforma√ß√£o dos Dados

Os atributos que assumem apenas dois valores poss√≠veis, como os valores **'yes'** e **'no'** ser√£o transformados em valores bin√°rios, dado que os modelos de aprendizado de m√°quina n√£o conseguem trabalhar com strings, apenas n√∫meros

In [31]:
def labelEncoder(df, colunas, filename):
  label_df = df.copy()
  le = LabelEncoder()
  
  for col in colunas:
    label_df[col] = le.fit_transform(label_df[col])
    le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    # print(col)
    # print(le_name_mapping)
    arq = open(filename, 'a')
    print("Coluna: ", col, file=arq)
    print(le_name_mapping, file=arq)
    print('\n', file=arq)
    arq.close()
  return label_df

colunas_bin = ["school", "sex", "schoolsup", "famsup", "paid", "activities", "nursery", "higher", "internet", "romantic", "address", "famsize", "Pstatus"]

dataset_mat_proc = labelEncoder(dataset_mat, colunas_bin, 'label_encoder.txt')
dataset_port_proc = labelEncoder(dataset_port, colunas_bin, 'label_encoder.txt')

print("Primeira linha do dataset de matem√°tica ap√≥s a convers√£o dos atributos bin√°rios:")
dataset_mat_proc.head(1)

Primeira linha do dataset de matem√°tica ap√≥s a convers√£o dos atributos bin√°rios:

   school  sex  age  address  famsize  ...  absences  G1  G2 G3 aprovado
0       0    0   18        1        0  ...         6   5   6  6        0

[1 rows x 34 columns]

Agora vamos converter os atributos categ√≥ricos que assumem mais do que dois valores poss√≠veis em valores discretos.

In [33]:
colunas_cat = ["Mjob", "Fjob", "reason", "guardian"]

dataset_mat_proc = labelEncoder(dataset_mat_proc, colunas_cat, 'label_cat.txt')
dataset_port_proc = labelEncoder(dataset_port_proc, colunas_cat, 'label_cat.txt')

print("Primeira linha do dataset de matem√°tica ap√≥s a convers√£o dos atributos categ√≥ricos:")
dataset_mat_proc.head(1)

Primeira linha do dataset de matem√°tica ap√≥s a convers√£o dos atributos categ√≥ricos:

   school  sex  age  address  famsize  ...  absences  G1  G2  G3  aprovado
0       0    0   18        1        0  ...         6   5   6   6         0

[1 rows x 34 columns]

In [34]:
dataset_mat_proc['G1'].value_counts()

10    51
8     41
11    39
7     37
12    35
13    33
9     31
14    30
15    24
6     24
16    22
18     8
17     8
5      7
19     3
4      1
3      1
Name: G1, dtype: int64

Ser√° criada uma **classe bin√°ria** que indicar√° se o aluno foi aprovado na disciplina ou n√£o, onde os modelos de classifica√ß√£o dever√£o prever com base nas informa√ß√µes dispon√≠veis sobre cada aluno se ele ser√° ou n√£o aprovado.

In [35]:
dataset_mat_proc['aprovado'] = ''
dataset_mat_proc.loc[(dataset_mat_proc.G3 >= 10), 'aprovado'] = 1
dataset_mat_proc.loc[(dataset_mat_proc.G3 < 10), 'aprovado'] = 0

dataset_port_proc['aprovado'] = ''
dataset_port_proc.loc[(dataset_port_proc.G3 >= 10), 'aprovado'] = 1
dataset_port_proc.loc[(dataset_port_proc.G3 < 10), 'aprovado'] = 0
dataset_port_proc.head(2)

   school  sex  age  address  famsize  ...  absences  G1  G2  G3  aprovado
0       0    0   18        1        0  ...         4   0  11  11         1
1       0    0   17        1        0  ...         2   9  11  11         1

[2 rows x 34 columns]

Ser√° criada tamb√©m uma coluna que indicar√° o conceito final do aluno, seguindo a seguinte regra:
- Notas entre [16, 20]: conceito **A**,
- Notas entre [14, 16): conceito **B**,
- Notas entre [12, 14): conceito **C**,
- Notas entre [10, 12): conceito **D** e
- Notas entre [0, 10): conceito **F**

In [39]:
dataset_mat_proc['conceito'] = ''
dataset_mat_proc.loc[(dataset_mat_proc.G3 >= 0) & (dataset_mat_proc.G3 < 10), 'conceito'] = 'F'
dataset_mat_proc.loc[(dataset_mat_proc.G3 >= 10) & (dataset_mat_proc.G3 < 12), 'conceito'] = 'D'
dataset_mat_proc.loc[(dataset_mat_proc.G3 >= 12) & (dataset_mat_proc.G3 < 14), 'conceito'] = 'C'
dataset_mat_proc.loc[(dataset_mat_proc.G3 >= 14) & (dataset_mat_proc.G3 < 16), 'conceito'] = 'B'
dataset_mat_proc.loc[(dataset_mat_proc.G3 >= 16) & (dataset_mat_proc.G3 <= 20), 'conceito'] = 'A'

dataset_port_proc['conceito'] = ''
dataset_port_proc.loc[(dataset_port_proc.G3 >= 0) & (dataset_port_proc.G3 < 10), 'conceito'] = 'F'
dataset_port_proc.loc[(dataset_port_proc.G3 >= 10) & (dataset_port_proc.G3 < 12), 'conceito'] = 'D'
dataset_port_proc.loc[(dataset_port_proc.G3 >= 12) & (dataset_port_proc.G3 < 14), 'conceito'] = 'C'
dataset_port_proc.loc[(dataset_port_proc.G3 >= 14) & (dataset_port_proc.G3 < 16), 'conceito'] = 'B'
dataset_port_proc.loc[(dataset_port_proc.G3 >= 16) & (dataset_port_proc.G3 <= 20), 'conceito'] = 'A'
dataset_port_proc.head(3)

   school  sex  age  address  famsize  ...  G1  G2  G3  aprovado  conceito
0       0    0   18        1        0  ...   0  11  11         1         D
1       0    0   17        1        0  ...   9  11  11         1         D
2       0    0   15        1        1  ...  12  13  12         1         C

[3 rows x 35 columns]

##Divis√£o da base

Divis√£o da base em treino, valida√ß√£o e teste (60, 20, 20)

In [7]:
treino_mat, validacao_mat, teste_mat = np.split(dataset_mat.sample(frac=1), [int(.6*len(dataset_mat)), int(.8*len(dataset_mat))])
treino_port, validacao_port, teste_port = np.split(dataset_port.sample(frac=1), [int(.6*len(dataset_port)), int(.8*len(dataset_port))])

# Classifica√ß√£o da situa√ß√£o final do aluno

##Modelos de classifica√ß√£o

In [8]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

#Previs√£o da nota final do aluno